/* globals.css */
@import 'antd/dist/reset.css';

/* fix Tailwind CSS border styles,form Tailwind CSS's preflight */
*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: theme('borderColor.DEFAULT', currentColor); /* 2 */
}

::before,
::after {
  --tw-content: '';
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.ct-section-wrapper {
  @apply shadow-xl rounded-md bg-white;
}
